body
{
  background-color: #191863; 
  overflow-x: hidden;
}
.navbar
{
  position: absolute;
  background-color: #222087;
  width: 100%;
  height: 13%;
  left: 0;
  top: 0;
}
.homebutton
{
  position: absolute;
  top: 0;
  width: 15%;
  left: 0;
  padding-top: 2%;
  padding-right: 1%;
  padding-bottom: 2%;
  padding-left:4%;
  background: none;
  font-size: 1.8vw;
  text-decoration: none;
  color: white;
}
